<div id="footer" class="clearfix">
	<span class="copyRight">Duankou &copy; 2011 · <a href="#">中文(简体)</a></span>
	<span class="footerLinks"><a href="#">关于</a>·<a href="#">开放平台</a>·<a href="#">手机</a>·<a href="#">广告</a>·<a href="#">招聘</a>·<a href="#">隐私政策</a>·<a href="#">帮助中心</a></span>
</div>
<!--{assign var=js_css_v value=time()}-->
<script src="<!--{$smarty.const.MISC_ROOT}-->js/jquery.min.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/init.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/plug/autocomplete/autocomplete.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/common/utils.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/plug/popUp/popUp.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/message/messages.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/plug/dk-ui/dk.uploader.js?v=<!--{$js_css_v}-->" type="text/javascript" ></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/plug/jQuery-searcher/ViolenceSearch.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/plug/jQuery-searcher/jQuery.searcher.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/message/request_notice.js?v=<!--{$js_css_v}-->"  type="text/javascript"></script>