<!--{include file="header.html"}-->
</head>
<body>

<!--{include file="top_bar.html"}-->
<div class="body clearfix" id="followerFramework">
	<div class="mainArea">
		<div class="modlueHeader clearfix">
			<span class="userImg"><a href="#"><img src=".." alt="" /></a></span>
			<div class="userName">
				<span class="nameTxt"><a href="#">用户名</a></span>
				<span class="nameTxt"><a>群组</a></span>
			</div>
		</div>
		
		<div class="modlueMainBody">群组内容
		</div>
		
	</div>
</div>

<!--{include file="footer.html"}-->


</body>
</html>