<!--{include file="header.html"}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->css/setting-userinfo/setting_userinfo.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!--{include file="top_bar.html"}-->

<div class="body clearfix">
	<div class="mainArea">
		<!--start: 网页设置头部-->
		<div class="modlueHeader clearfix">
			<span class="userImg"><a href="<!--{$smarty.const.WEB_ROOT}-->main/index.php"><img src="<!--{get_avatar($user['uid'],'s')}-->" alt="" /></a></span>
			<div class="userName" id="userName">
				<span class="nameTxt"><a href="<!--{$smarty.const.WEB_ROOT}-->main/index.php"><!--{$login_name}--></a></span>
				<span class="nameTxt">
					<span class="fl">系统设置</span>
				</span>
				<div class="dropMenu">
					<div class="triggerBtn"><span class="fl">网页设置</span><s></s></div>
					<div class="dropList">
						<ul class="dropListul">
							<li><a href="<!--{mk_url('main/setting/settingAccount')}-->" class="itemAnchor"><i class="i_account"></i><span>一般</span></a></li>
							<li><a href="<!--{mk_url('main/setting/settingSecurity')}-->" class="itemAnchor"><i class="i_security"></i><span>安全</span></a></li>
							<li><a href="<!--{mk_url('main/notice/settingnotice')}-->" class="itemAnchor"><i class="i_notice"></i><span>通知</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--end: 网页设置头部-->
		<div class="modlueBody clearfix"  id="web_setting">
			<!--star: headerArea 网页设置标题开始-->
            <h2 class="accountTitle">系统设置  / 网页设置</h2>
      		<!--end: headerArea 网页设置标题结束--> 
      		<!--start: contentArea 网页设置具体内容开始-->
      		
	            		<div class="web-setting-side">
	            			<p class="head"><strong>网页名称</strong></p>
							<ul class="webset-info-box">
							
							</ul> 
						</div>
						
         	<!--end: contentArea 网页设置具体内容结束--> 
		</div>
	</div>
	
	<div class="sideArea">
	</div>
</div>

<!--{include file="footer.html"}-->
<script src="<!--{$smarty.const.MISC_ROOT}-->js/timeline/scrollLoad.js" type="text/javascript" ></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/setting_userinfo/seting_web.js" type="text/javascript"></script>
</body>
</html>